    <!-- Form Row -->
    <div class="row">
      <div class="col-md-6">
        <div class="button-box">
          <h2>Generate Data</h2>
          <form id="generateForm">
            <fieldset>
              <label for="textarea">What do you desire</label>
              <textarea id="desire" name="desire" cols='70' rows='5'></textarea>
              <br>
            </fieldset>
            <button id="generateButton" type="button">Generate</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Graph Row -->
    <div class="row">
      <div class="col-md-12">
        <div id="d3-graph" class="graph-box">
          <!-- Your SVG content goes here -->
        </div>
      </div>
    </div>
