<div class="container">
  <div class="content">
    <div class="graph-box">
      <%= render 'graphs' %>
    </div>
    <div class="button-box">
      <h2>Generate Data</h2>
      <form id="generateForm">
        <fieldset>
          <label for="textInput">Enter a number between 1 and 50:</label>
          <input type="number" id="textInput" name="textInput" min="1" max="50" oninput="validateInput(this)" required>
          <br>
          <label for="fileInput">Choose a File:</label>
          <input type="file" id="fileInput" name="fileInput" disabled>
        </fieldset>
        <button id="generateButton" type="button">Generate</button>
      </form>
    </div>
  </div>
</div>
<script>
  function validateInput(input) {
    const value = parseInt(input.value, 10);
    if (isNaN(value) || value < 1 || value > 50) {
      // Display an alert if the input is invalid
      alert('Please enter a number between 1 and 50.');
      input.value = ''; // Clear the input field
    }
  }
</script>

