<h1>Editing jobseeker</h1>

<%= render "form", jobseeker: @jobseeker %>

<br>

<div>
  <%= link_to "Show this jobseeker", @jobseeker %> |
  <%= link_to "Back to jobseekers", jobseekers_path %>
</div>
